body {


  
}

#footer {
    background-color: #353535;
    color: white;
    overflow: hidden;
    margin: -10;
    list-style-type: none;
    display: block;
    text-align: center;
}

#footer .col {
    list-style-type: none;
    width: 31%;
    height: auto;
    float: left;
    margin: 0% 0%;
}

#footer ul {
    list-style-type: none;
    line-height: 35px;
    padding: 10px;
    margin: 5px;
    font-family: 'Lato', sans-serif;
}

footer h3 {
    font-family: 'Rozha One', serif;
}

footer li {
    padding: 10px;
    display: block;
}

img {
    margin: 0 15 -8;
}

h3:hover {
    color: wheat;
}

li li:hover {
    color: wheat;
}

.button {
    border: none;
    color:darkslategray;
    padding: 14px 28px;
    cursor: pointer;
}

.button:active {
    background-color: #353535;
    color: white;
}

#sprt ul li {
    padding: 5
}

a {
    color: inherit;
}

@media only screen and (max-width: 500px) {
    #footer .col {
        display: block;
        padding: 0;
        width: 250;
        float: none;
    }
    
}